<?xml version="1.0"?>
 <config>
    <modules>
        <Sharemagnet_Social_Rebate>
            <version>1.5.0.0</version>
        </Sharemagnet_Social_Rebate>
    </modules>
    <global>
        <blocks>
            <social_rebate>
                <class>Sharemagnet_Social_Rebate_Block</class>
            </social_rebate>
        </blocks>
        <models>
            <social_rebate>
                <class>Sharemagnet_Social_Rebate_Model</class>
           </social_rebate>
           <sales>
                <rewrite>
                    <order>Sharemagnet_Social_Rebate_Model_Order</order>
                </rewrite>
           </sales>
        </models>
        <helpers>
            <social_rebate>
                <class>Sharemagnet_Social_Rebate_Helper</class>
            </social_rebate>
        </helpers>
        <events>
            <sales_order_place_after>
                <observers>
                    <prepare_sharemagent_service>
                        <type>singleton</type>
                        <class>Sharemagnet_Social_Rebate_Model_Observer</class>
                        <method>prepareService</method>
                    </prepare_sharemagent_service>
                </observers>
            </sales_order_place_after>
        </events>    
    </global>
    <frontend>
        <layout>
            <updates>
                <social_rebate>
                    <file>sharemagnet/social/rebate.xml</file>
                </social_rebate>
            </updates>
        </layout>
        
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Sharemagnet_Social_Rebate before="Mage_Adminhtml">Sharemagnet_Social_Rebate_Adminhtml</Sharemagnet_Social_Rebate>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <social_rebate_section>
                                            <title>Social Rebate Section</title>
                                        </social_rebate_section>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config> 